

:root{
    --cor-rosa: #E844FF;
    --cor-lilas: #8739FF;
    --cor-mensagem-recebida: #9341C8;
    --cor-fundo-mensagem-recebida: #EEE5F4;
    --cor-mensagem-enviada: #6E5D7E;
    --cor-fundo-mensagem-enviada: #FFFFFF;
    --cor-fundo-tela: #F5F3F7;
    --cor-tela: #FFFFFF;
    --cor-roxo: #3E2753;
    --cor-escreva: #C5C9CC;
    --cor-desc-pefil: #D99EFF;
    --cor-cinza: #979797;
    --cor-texto: #A39DA9;

    --regular: 400;
    --medium: 500;
    --bold: 700;

    --fonte: "Rubik", sans-serif;;
}

body{
    font-family: var(--fonte);
    font-weight: var(--regular);
    background-color: var(--cor-tela);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    position: relative;
    overflow: hidden;
}

#conteudo{
    align-items: center;
    gap: 7.8rem;
    display: flex;

}

#buraco{
    background-color: var(--cor-tela);
    border-radius: 14px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 129px;
    height: 29px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

#tela{
    background-color: var(--cor-tela);
    padding: 0.6rem;
    border-radius: 30px;
    width: 247px;
    max-height: 505px;
    position: relative;
}

#tela-interior{
    background-color: var(--cor-fundo-tela);
    border-radius: 20px;
}

#tela-cabecalho{
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to right, var(--cor-rosa), var(--cor-lilas));
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 2rem 1rem 0.8rem 1rem;
    justify-content: space-between;
    color: var(--cor-tela);
}

#perfil{
    display: flex;
    flex-direction: row;
}

#perfil-nome{
    font-weight: var(--medium);
}

#perfil-info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
}

#perfil-descricao{
    color: var(--cor-desc-pefil);
}

#img-perfil{
    margin: 0 0.5rem;
}

.msg{
    margin-top: 0.5rem;
    max-width: 128px;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    border-bottom-right-radius: 4px;
    line-height: 11px;
}

.msg-recebidas{
    background-color: var(--cor-fundo-mensagem-recebida);
    color: var(--cor-mensagem-recebida);
    margin-left: 0.6rem;
}

.msg-enviadas{
    background-color: var(--cor-fundo-mensagem-enviada);
    color: var(--cor-mensagem-enviada);
    margin-left: auto;
    margin-right: 0.6rem;
}

.primeira{
    margin-top: 1rem;
}

.dogs{
    background-color: transparent;
    padding: 0;
    max-width: 150px;
    box-sizing: content-box;
}

.dogs img{
    height: 100%;
    width: auto;
    margin-left: 0.5rem;
    object-fit: contain;
}

.opcoes{
    margin-left: 0.6rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    color: var(--cor-tela);
    background: linear-gradient(to right, var(--cor-rosa), var(--cor-lilas));
    width: 80%;
    border-radius: 10px;
    border-bottom-right-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 0.7rem 0.5rem;
    padding-right: 1rem;
    max-width: 160px;
    justify-content: space-between;
}

.opcoes-preco{
    font-weight: bold;
    font-size: 0.75em;
}

.opcoes-descricao-div{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#botao-enviar{
    height: 50%;
}

#botao-enviar-div{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background-color: var(--cor-roxo);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barra-de-escrita{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-tela);
    padding: 0.3rem 0.2rem 0.3rem 1rem;
    margin: 1rem  0.6rem 0.7rem 0.6rem;
    border-radius: 20px;
    color: var(--cor-escreva);
}

#textos{
    width: 448px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#titulo{
    font-size: 2.5rem;
    color: var(--cor-roxo);
    font-weight: var(--medium);
}

#texto{
    font-size: 1rem;
    color: var(--cor-texto) ;
    line-height: 28px;
}

#detalhe-roxo, #detalhe-branco{
    width: 510px;
    height: 1018px;
    border-radius: 255px;
    background: linear-gradient(to right, var(--cor-rosa), var(--cor-lilas));
    position: absolute;
}

#detalhe-roxo{
    bottom: 15%;
    right: 75%;
}

#detalhe-branco{
    opacity: 3%;
    left: 75%;
    top: 15%;
}

@media screen and (max-width: 768px){

    body {
        height: 100%;
        width: 100vw;
        overflow: hidden;
        box-sizing: border-box;
    }
    
    #conteudo {
        overflow: hidden;
        flex-direction: column;
        margin: 4rem 2rem;
        gap: 2rem;
        height: 100%;
        width: 100%; /* Ajustar para não ultrapassar a tela */
        text-align: center;
    }

    #textos {
        width: 100%;
    }

    #detalhe-roxo {
        right: 50%;
        bottom: 50%;
    }

    #detalhe-branco {
        left: 50%;
        top: 50%;
    }
}
